<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Charts Finder</Name>
    <Version>2.2.1</Version>
    <Title>Charts Finder 2 Installer</Title>
    <Publisher>Abdullah Radwan</Publisher>
    <InstallerWindowIcon>../res/icons/icon</InstallerWindowIcon>
    <StartMenuDir>Charts Finder 2</StartMenuDir>
    <TargetDir>@ApplicationsDirX86@/Charts Finder 2</TargetDir>
	<RemoteRepositories>
     <Repository>
		<Url>https://chartsfinder.000webhostapp.com/installer/win</Url>
        <Enabled>1</Enabled>
        <DisplayName>Windows repository</DisplayName>
     </Repository>
	 <Repository>
		<Url>https://chartsfinder.000webhostapp.com/installer/lin</Url>
        <Enabled>0</Enabled>
        <DisplayName>Linux repository</DisplayName>
     </Repository>
	</RemoteRepositories>
</Installer>